body{
  background-image: url(assets/images/forestBackground.jpg);
  margin:0;
  padding:0;
}
.charStats{
  background-color: none;
}


.stats{
  background-color: white;
}
/*header-----------------------------------------------------------------------*/
#BtnRogue{
  display:;
}
#rest{
  display:none;
}
#search{
  display:none;
}
.moveFwd{

}
/*main-------------------------------------------------------------------------*/
/*charactermain----------------------------------------------------------------------------------------*/
#staggeredTop, #staggeredMid, #staggeredBot{
  display:none;
  position:absolute;
  top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.charImage{
  position: relative;
}
.attack{
  display:none;

}
.atks{
  display:flex;
}
.special{
  display:none;
}
/*centermain-------------------------------------------------------------------------------------------*/
.targets{
  display:none;
}
.groups{
  display:none;
}
/*enemymain--------------------------------------------------------------------------------------------*/
.enemyImage{
  float:right;
}
.enemyStats{
  float:right;
}
/*footer-----------------------------------------------------------------------*/
/*ModalCharSelects-------------------------------------------------------------*/
/* The Modal (background) */
.modalWar {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(50,50,50); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content-wizard {
    background-image: url(assets/images/wizardBackground2.jpg);
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}
.modal-content-warrior{
  background-image: url(assets/images/warriorBackground.jpg);
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}
.modal-content-rogue{
  background-image: url(assets/images/thiefBackground.jpg);
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.modal-content-inventory{
  background-image: url(assets/images/inventoryBackground.jpg);
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.closeWar {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.closeWar:hover,
.closeWar:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.modalWiz {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(50,50,50); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.closeWiz {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.closeWiz:hover,
.closeWiz:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modalRog {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(50,50,50); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.closeRog {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.closeRog:hover,
.closeRog:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modalInv {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(50,50,50); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.closeInv {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.closeInv:hover,
.closeInv:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
